<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id="createPost_form">
            <div class="modal-header">
                <p class="modal-title" id="threadModalLabel">Before you post...</p>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please Log-in First!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>