<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
    </head>
    <body>
        <script>console.log('main')</script>
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>