
<div class="modal fade" id="forum-content1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="posterInfo">
                <a href="profile.html?user=Dijkstra" class="card-link">
                    <img src="Screenshot 2024-01-16 094733.png"
                        class="rounded-circle" width="50" alt="User" />
                </a>
                <a href="profile.html?user=Dijkstra" class="text-secondary">Dijkstra</a>
                </div>
                
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="Title-post">
                    <h5 class="mt-1">{{this.title}}</h5>
                    <div class="infoIcons text-muted">
                    
                        <span><i class="far fa-eye"></i> 219</span>
                        <span><i class="far fa-comment"></i> 1</span>
                    </div>
                </div>
                
                <div class="media-body ml-3">
                    <div class="mt-3 font-size-sm">
                        <p>
                            {{this.content}}
                        </p>

                        <div class="signature">
                            <p>When I was your age, I received hundreds of love letters from my friends...</p>
                        </div>

                        
                        <div class="interactThread">
                            <div class="threadLikes">
                                <div class="upvote">
                                <i class="fa fa-thumbs-up solid"></i>
                                    <span>10</span>
                                </div>
                                    
                                <div class="downvote">
                                    <i class="fa fa-thumbs-down solid"></i>
                                    <span>3</span>  
                                </div>
                            </div>
                                    
                            
                            <div class="thread-actions">
                                <button type="button" class="delBtn btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg> Delete</button>
                                <button type="button" class="editBtn btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg> Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>